@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top:50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom:50px;
}

header a, footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

section {
    padding-top:10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.218);
    max-width: 400px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(108, 108, 108);
    color: white;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

footer {
    background-color: black;
    text-align: center;
    padding: 5px 0px;
    color: white;
}

.imagen_joaninha {

    background-image: url(/desafios/modulo-02/d012/imagens/background001.jpg);
} 